<div class="panel">
    <div class="jumbotron">
        <div class="container">
            <form class="form-horizontal" name="reportForm" novalidate autocomplete="off">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" ng-model="planDetails.name" placeholder="Enter name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="value">value:</label>
                    <input type="number" class="form-control" id="value" ng-model="planDetails.value" placeholder="Enter value" name="value" min="1" max="100" 
                        required>
                     <span style="color: #e9573f;font-style: italic;" ng-show="reportForm.value.$error.min || reportForm.value.$error.max">The value must be in range 1 to 100</span>
                </div>
                <div class="form-group">
                    <label for="value"> Start Date:</label>
                    <div class='input-group date' id='datetimepicker6'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="value">End Date:</label>
                    <div class='input-group date' id='datetimepicker7'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-success" ng-click="SubmitPlan()" ng-disabled="reportForm.$invalid">Submit</button>
        </div>
    </div>
</div>